*.md
*.sh
*.html
RubyonRails/Course1/Module2/Assignments/Lesson01-Assignment01-Case-Statement/student-start/.rspec
RubyonRails/Course1/Module2/Assignments/Lesson02-Assignment01-Collections/student-start/.rspec
RubyonRails/Course1/Module2/Assignments/Lesson03-Assignment01-Classes/student-start/.rspec
